

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.logo{
	width: 75px;
	height: auto;
}

.titulo{
	font-size: 18px
}







